/__pycache__
/.idea
/venv
/weights/clients/*
/logs/*
/data/clients
/Client/__pycache__
/helper/__pycache__
/model/__pycache__
/Reducer/__pycache__
/weights
/data/reducer
/data/runs
/data/minio_logs
/HardCoreNAS/__pycache__
/HardCoreNAS/external/__pycache__
/HardCoreNAS/nas/__pycache__
/HardCoreNAS/timm/__pycache__
/HardCoreNAS/timm/models/__pycache__
/HardCoreNAS/timm/models/layers/__pycache__
/HardCoreNAS/timm/optim/__pycache__
/HardCoreNAS/timm/data/__pycache__
/HardCoreNAS/nas/nas_utils/__pycache__
/HardCoreNAS/nas/src/__pycache__
/HardCoreNAS/nas/src/optim/__pycache__
/docker
/minio_data
minio
list_alphas.pkl
lut.pkl