/__pycache__
/.idea
/venv
/data/clients
/Client/__pycache__
/helper/__pycache__
/helper/pytorch/__pycache__
/model/__pycache__
/model/pytorch/__pycache__
/Reducer/__pycache__
/data/reducer
/data/runs
/data/minio_logs
/HardCoreNAS/__pycache__
/HardCoreNAS/external/__pycache__
/HardCoreNAS/nas/__pycache__
/HardCoreNAS/timm/__pycache__
/HardCoreNAS/timm/models/__pycache__
/HardCoreNAS/timm/models/layers/__pycache__
/HardCoreNAS/timm/optim/__pycache__
/HardCoreNAS/timm/data/__pycache__
/HardCoreNAS/nas/nas_utils/__pycache__
/HardCoreNAS/nas/src/__pycache__
/HardCoreNAS/nas/src/optim/__pycache__
/HardCoreNAS/timm/loss/__pycache__
/HardCoreNAS/timm/scheduler/__pycache__
/HardCoreNAS/timm/utils_new/__pycache__
**/__pycache__/
/minio_data
minio
list_alphas.pkl
lut.pkl
/outputs
/data/logs
/data/cifar-10-batches-py
/data/cifar-10-python.tar.gz