torch~=1.10.1+cu113
Flask~=2.0.2
numpy~=1.21.5
matplotlib~=3.5.1
requests~=2.26.0
PyYAML~=6.0
minio~=7.1.2
cvxopt~=1.2.7
tqdm~=4.62.3
pandas~=1.3.5
Pillow~=8.4.0
torchvision~=0.11.2+cu113
python-mnist
tensorboard
utils~=1.0.1